
@import "../base/variable.scss";

.modal {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 6;
    //padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-wrapper{
  background-color:$midnight_blue;
  margin-left:auto;
  margin-right:auto;
  border:0.5em solid $dialoge-border;
}
.mess-heading{
  font-family: $root-font;
  color:#fff;
}

#auth-box{
  display:none;
}
.whole-wrapper{
  margin:4em;
}
.input-message{
  height:2.5em;
  width:70%;
  font-size:18px;
}
#commit-submit,#auth-submit{
  border:none;
  background-color: #27ae60;
  color:#fff;
  font-size:18px;
  height:3em;
  width:25%
}
#pushButton{
  padding:0.5em;
  background-color:$midnight-blue;
  border-style:none;
  border:3px solid $trav;
  color:$silver;
}
header{
  text-align:right;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.auth-user,.auth-password{
  display:block;
  width:100%;
  height:2em;
  font-size:18px;
  line-height: 1.5;
}
