<button type=button id="menu-list">click</button>
<div class=wrapper>
    <div class=traversal>
        <input type="textbox" class="search">
        <div class="search-result"> </div>
        <%=raw traversal%>
    </div>
    <div class=pannels>
      <select id = 'res-tab'> </select>
        <ul id="tabs"></ul>
        <ul id="tabs-editor"></ul>
    </div>
</div>
