<%= flash[:message] %>
<div class=menu-wrapper>
<button type=button id="menu-list"></button>
</div>
<div class=wrapper>
    <div class=traversal>
        <input type="textbox" class="search" placeholder= "">
        <div class="search-result"> </div>
        <div class=root-wrapper>
          <p class="root-text"> Project Root</p>
        </div>
        <div class=traverse>
        <%=raw traversal%>
      </div>
    </div>
    <div class=pannels>
      <select id = 'res-tab'> </select>
        <ul id="tabs"></ul>
        <div class=editor-wrapper>
          <div class=actions>
            <button type=button class="save-button">Save</button>
            <a class=compile target=_blank>Open</a>
          </div>
        <ul id="tabs-editor"></ul>
      </div>
    </div>
</div>
