<div class=wrapper>
    <input type="checkbox" id="menu-list">
    <label for="menu-list" onclick></label>
    <div class=traversal>
        <input type="checkbox" id="remove">
        <label for="remove" onclick>x</label>
        <input type="textbox" class="search">
        <%=raw traversal%>
    </div>
    <div class=pannels>
        <ul id="tabs"></ul>
    </div>
</div>
