<div class=main-body>
  <div class=main-wrapper>
  <div class=wrapper-upload>
    <div class=upload-file>
        <%=link_to "#{image_tag("upload.png")} Upload".html_safe(),repositories_new_path, class: "upload-button"%>
    </div>
    <div class=explore-wrapper>
      <p class=explore-text>Explore Project</p>
    </div>
  </div>
    <%@repository.each do |d|%>
    <%if d.user_id==current_user.id%>
    <div class=repo-wrapper>
        <%=link_to d.upload_file_name, repository_path(d), class: "filename"%>
    </div>
    <%end%>
    <%end%>

    <%@gitrepo.each do |repo|%>
    <%reponame=repo.url.split('/').last%>
    <div class=repo-wrapper>
        <%=link_to reponame,gitrepo_path(repo),class: "filename"%>
    </div>
    <%end%>

</div>
</div>
