<div class="upload-box">
  <div class="container-wrapper">
<h1 class="heading-upload">Upload Repository</h1>
  <div class="upload-wrapper">
<%= form_for @repository, html: { multipart: true } do |form| %>
<%= form.file_field :upload, name: "upload", Class:"upload-input", id:'upload'%>
<%= form.submit class:"upload-submit"%>
<%end%>
</div>
<%= button_to "Github".html_safe,gitrepos_newrepo_path,class:"github-button"%>
</div>
</div>
