<h1>Repositories#new</h1>
<%= form_for @repository, html: { multipart: true } do |form| %>
<%= form.file_field :upload, name: "upload" %>
<%= form.submit %>
<%end%>
<%= button_to "Github",gitrepos_newrepo_path%>
