<P> aah chko </p>
  <div>
    <%=raw traversal%>
    </div>
<div id="editor">

</div>
 <!--<script src="src/ace.js" 1type="text/javascript" charset="utf-8"></script>-->
 <script>
 var editor = ace.edit("editor");
</script>
