@import "variable.scss";

.folder,
.folder_up {
    list-style-image: url("folder.png");
}

.folder_down {
    list-style-image: url("archive.png");
}

.file {
    list-style-image: url("file.png");
}

a.link,
a.remove,
a.signout,
a.tab {
    text-decoration: none;
}

.folder,
a.link {
    color: $silver;
}
a.remove,
a.signout {
    color: $silver;
    font-size: 22px;
}

a.tab {
    font-size: 0.8em;
    color: $silver;
}

a.remove {
    float: right;
    font-weight: bold;
  }

#menu-list,
#remove {
    display: none;
}

label {
    position: absolute;
    left: 0;
    display: none;
}

.tab-wrapper {
    background-color: $tab-color;
    width: 100%;
    height:100%;
    text-align: center;
    min-width: 150px;
}

.editor {
    resize: both;
    overflow: auto;
}

.ace-gutter {
    background-color: $editor;
}

.search {
    width:100%;
    background-color: $search;
    border: none;
    color: $silver;
    background-image:url("search.png");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid #333333;
}
.search:focus{
  background-image: none;
}

.folder,
a.link {
    font: 1em $font;
}

.file:hover {
    width: 100%;
    background-color: #131313;
}
.traversal{
  z-index:2;
}
.pannels{
  background-color: $back-pannel;
}
#res-tab{
  display:none;
  width:100%;
  border:none;
  background-color:$editor;
  height:5%;
  color:$silver;
}

.file-actions{
  background-color:$bg-actions;
  display:none;
  text-align: right;
}
.compile{
  text-decoration: none;
  color: $silver;
  background-color:$button-color;
  padding: 5px;
}
.save-button{
  background-color:$button-color;
  color:$silver;
  border-style:none;
  padding:5px;
}

.root-text{
  color:#3f4748;
  margin:0.5em;
  font-family:$root-font;
  font-size: 18px;
}
.menu-wrapper{
  background-color:$back-pannel;
}
#menu-list{
  height:3em;
  width:3em;
  border:none;
  background-color:$back-pannel;
  background-image:url("menu.png");
  background-repeat: no-repeat;
  background-position: center;
}
.heading-text{
  color:#fff;
  font-family: $root-font;
}
.explore-text{
  color:#fff;
  font-family: $root-font;
  font-size:2em;
}
.main-wrapper{
  width:80%;
  margin-left:5em;
  height:90%;
}
.repo-wrapper{
  height: 5%;
  background: $trav;
  padding:2em;
  margin:1em;
  border:3px solid $silver;
}

.filename{
  color:$silver;
  font-size:1.5em;
  text-decoration: none;
}

.home-menu{
  color:$silver;
  font-size:22px;
  text-decoration: none;
  margin:20px;
}
.heading-upload{
  color:#fff;
  font-size:2em;
  font-style:$root-font;
}
#repository_upload{
  width:50%;
  background-color:$trav;
  color:$silver;
  font-size: 1em;
}
.fac,.vac{
  font-family:$ornate-font;
  color:#27ae60;
  font-size:30px;
}
.vac{
  color:#3498db;
}

#user_email,#user_password,.submit-button{
  width:95%;
  font-size:18px;
  height:2em;
  border:none;
  text-indent:1em;
}
.upload-submit{
  background-color:$green;
  color:#fff;
  border:none;
  width:20%;
  font-size:1.2em;
}
