@import "variable.scss";

.folder,
.folder_up {
    list-style-image: url("folder.png");
}

.folder_down {
    list-style-image: url("archive.png");
}

.file {
    list-style-image: url("file.png");
}

a.link,
a.remove,
a.signout,
a.tab {
    text-decoration: none;
}

.folder,
a.link {
    color: $silver;
}

a.remove,
a.signout {
    color: $silver;
    font-size: 1em;
}

a.tab {
    font-size: 0.8em;
    color: $silver;
}

a.remove {
    float: right;
    font-weight: bold;
  }

#menu-list,
#remove {
    display: none;
}

label {
    position: absolute;
    left: 0;
    display: none;
}

.tab-wrapper {
    background-color: $tab-color;
    width: 100%;
    height: 2.5em;
    text-align: center;
    min-width: 150px;
}

.editor {
    resize: both;
    direction:ltr;
    overflow: auto;
}

.ace-gutter {
    background-color: $editor;
}

.search {
    background-color: $search;
    border: none;
    color: $silver;
}

.folder,
a.link {
    font: 0.8em $font;
}

.file:hover {
    width: 100%;
    background-color: #131313;
}
