@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url( 'https://fonts.googleapis.com/css?family=Rokkitt');
$text_font: monospace;
$font: 'Source Sans Pro', sans-serif;
$color: #2c3e50;
$wet_Asphalt: #34495e;
$midnight_blue: #2c3e50;
$silver: #bdc3c7;
$border_color: #1abc9c;
$dusty: #181303;
