@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url( 'https://fonts.googleapis.com/css?family=Rokkitt');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
$text_font: monospace;
$font: 'Source Sans Pro', sans-serif;
$root-font: 'Noto Serif', Serif;
$main-font:'Cormorant Garamond', serif;
$ornate-font: 'old Standard TT', serif;
$color: #2c3e50;
$tab-color: #1f1f1f;
$midnight_blue: #000;
$silver: #bdc3c7;
$border_color: #303030;
$trav: #282828;
$banner: #343436;
$editor: #1d1f20;
$search: #171717;
$tab-border: #7e6800;
$inactive-color: #0b2833;
$hover-color: #131313;
$bg-actions:#1a1c1d;
$button-color:#2f3031;
$background-wrapper:#fff;
$back-pannel:#141414;
$dialoge-border:#2980b9;
$upload:#27ae60;
$landing:#1abc9c;
$green: #2ecc71;
$box:rgba(63,71,72,0.9);
