<div id=modal-box class=modal>
  <div class=modal-wrapper>
    <div class=whole-wrapper>
    <div id=message-wrapper>
        <input type=textbox name="commit-message" placeholder="Enter a Commit message"/>
        <input type="submit" id="commit-submit"/>
    </div>
    <div id=auth-box>
        <input type=textbox name="git-username" placeholder="Username"/>
        <input type=password name="git-password" placeholder= "Password"/>
        <input type=submit id="auth-submit" datapath= <%=gitrepo_path%> />
    </div>
  </div>
  </div>
</div>
<%=render 'repositories/traversal'%>
